// lear
// Base Apparel

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

// Colors
$desaturatedRed: hsl(0, 36%, 70%);
$darkGrayishRed: hsl(0, 6%, 24%);
$lightLinear: (135deg, hsl(0, 50%, 95%), hsl(0, 100%, 90%));
$darkLinear: (135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Main Content
.main {
  display: flex;
  min-height: 100vh;

  .content {
    width: 60%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    padding: 3rem 5rem 5rem 10rem;

    .logo {
      display: block;
      margin-bottom: 7.5rem;
    }

    .title {
      font-size: 4rem;
      color: $darkGrayishRed;
      font-weight: 600;
      letter-spacing: 1rem;

      span {
        color: $desaturatedRed;
        font-weight: 300;
      }
    }

    .text {
      max-width: 500px;
      line-height: 1.75rem;
      color: $desaturatedRed;
      padding: 1rem 0 2.5rem;
    }

    .form {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 500px;
      height: 54px;
      border: 1px solid $desaturatedRed;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;

      input {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        border-radius: 2rem 0 0 2rem;
        -webkit-border-radius: 2rem 0 0 2rem;
        -moz-border-radius: 2rem 0 0 2rem;
        -ms-border-radius: 2rem 0 0 2rem;
        -o-border-radius: 2rem 0 0 2rem;
        border: none;
        background-color: transparent;
        color: $desaturatedRed;
        font-size: 1rem;
        outline: none;
      }

      .btn {
        padding: 1rem 3rem;
        height: 100%;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        background-image: linear-gradient($darkLinear);
        border: none;
        cursor: pointer;

        &:hover {
          background-image: linear-gradient($lightLinear);
        }
      }
    }
  }

  .image {
    width: 40%;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
  }
}

// For Smaller Devices
@media screen and (max-width: 1100px) {
  .main .content {
    padding-left: 5%;
  }
}

@media screen and (max-width: 868px) {
  .main {
    flex-direction: column;
    justify-content: space-between;

    .image {
      width: 100%;
      height: min(450px, 65vw);
      background-image: url(images/hero-mobile.jpg);
    }

    .content {
      width: 100%;
      padding: 2.5rem 5% 3.5rem;
      text-align: center;

      .title {
        font-size: 3rem;
      }

      .form,
      .text {
        margin: auto;
      }
    }
  }
}
